@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-padding-top: 4rem;
    /*SO THAT THE NAVBAR AT TOP WONT COVER THE TITLE OF THE CLICKED LINK IN THE SIDE BAR*/
}

header {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;

    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    position: absolute;
    top: 20px;
    left: 150px;
    color: white;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
}

header ul {
    display: flex;
    position: relative;
    max-width: 1200px;
}

header ul li {
    list-style: none;
    position: relative;
    padding: 20px 0;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

header ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header ul li:last-child {
    border-right: none;
}

header ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

header ul li a.active,
header ul li a:hover {
    color: #DFB01A;
    border-radius: 10px;
}

header ul li ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: #000;
    display: block;
    width: 230px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.heading {
    position: relative;
}

@keyframes slide_right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*AUDIO PART*/
.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}

/* VIDEO */
.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    position: relative;
    max-width: 900px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #fff;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

/*AUDIO PART*/
.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}

/* MAIN CONTENT */

body{
    
}

#main-container{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-image: url(/resources/Home/Stars_BG.jpg);
}

#intro-container{
    display: flex;
}

    #intro-pic img{
        width: 100%;
        padding-top: 25px;
    }

    #intro-text{
        position:absolute;
        padding-top: 190px;
        padding-left: 150px;
    }
    #intro-text h2{
        color: #fff;
        font-size: 5em;
        font-family: 'VT323', sans-serif;
        margin-bottom: 10px;
        line-height: 1.2em;
        font-weight: 700;
        animation: slide_right 0.5s linear forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
        @keyframes slide_right {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            }
    
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

    #intro-text a{
        text-decoration: none;
        padding: 15px 30px;
        background-color: #0169b2;
        color: #fff;
        font-size: 1.2em;
        border-radius: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        animation: slide_top 0.5s linear forwards;
        animation-delay: 2.3s;
        font-family: 'Amatic SC', sans-serif;
        opacity: 0;
    }
        @keyframes slide_top {
            0% {
                transform: translateY(100px);
                opacity: 0;
            }
    
            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    #intro-text a:hover{
        background-color: #075288 ;
    }
    #intro-text img{
        width: 85%;
        animation: fadeIn 3s forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }    
/* INTRO TEXT */
#among-us-intro{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#among-us-intro #h1{
    font-size: 3em;
    font-weight: bold;
}

#among-us-intro p{
    font-size: 2em;
}
.invisible-margin{
    margin-left: 20%;
    margin-right: 20%;
}
/* THE CREW */
#crew-container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);

    
}

#crew-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#crew-container p {
    font-size: 1.5em;
}

#crew-crews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cr1 cr2 cr3"
                        "cr4 cr5 cr6";
    gap: 30px;
}

#crew-crews p{
    font-size: 1.2em;
}

#crew-1{
    grid-area: cr1;
    display: flex;
    gap: 20px;
}
#crew-2 {
    grid-area: cr2;
    display: flex;
    gap: 20px;
}
#crew-3 {
    grid-area: cr3;
    display: flex;
    gap: 20px;
}
#crew-4 {
    grid-area: cr4;
    display: flex;
    gap: 20px;
}
#crew-5 {
    grid-area: cr5;
    display: flex;
    gap: 20px;
}
#crew-6 {
    grid-area: cr6;
    display: flex;
    gap: 20px;
}
/* THE IMPOSTOR */
#impostor-container {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
}

#impostor-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#impostor-container p {
    font-size: 1.5em;
}

#impostor-impostor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imp1 imp2 imp3"
        "imp4 imp5 imp6";
    gap: 30px;
}

#impostor-impostor p {
    font-size: 1.2em;
}

#imp-1 {
    grid-area: imp1;
    display: flex;
    gap: 20px;
}

#imp-2 {
    grid-area: imp2;
    display: flex;
    gap: 20px;
}

#imp-3 {
    grid-area: imp3;
    display: flex;
    gap: 20px;
}

#imp-4 {
    grid-area: imp4;
    display: flex;
    gap: 20px;
}

#imp-5 {
    grid-area: imp5;
    display: flex;
    gap: 20px;
}

#imp-6 {
    grid-area: imp6;
    display: flex;
    gap: 20px;
}


/* GALLERY */
#gallery-container{
    display: flex;
    padding-top: 100px;
}

#gallery-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-bottom: 20px;
}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "gg1 gg2 gg3"
                        "gg4 gg5 gg6";

    gap: 30px;
    margin-bottom: 100px;
}

#g1{
    grid-area: gg1;
}
#g2{
    grid-area: gg2;
}
#g3 {
    grid-area: gg3;
}

#g4 {
    grid-area: gg4;
}
#g5 {
    grid-area: gg5;
}

#g6 {
    grid-area: gg6;
}

/* FOOTER */

footer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-color: #585858;
}

#footer-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;
}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone phone"
        "mail mail";
}

#phone-num {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#envelope-email {
    grid-area: mail;
    display: flex;
    flex-direction: row;
}

#circle {
    grid-area: circle;
    width: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#phone {
    width: 20px;
}

#envelope {
    width: 20px;
}

#num {
    margin-left: 20px;
    color: #D2D2CF;
}

#email {
    margin-left: 20px;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#email a:hover {
    color: #DAE7E9;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}