@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #181A18;
    font-family: 'Roboto', sans-serif;
    color: #D2D2CF;
}

#main-container{
    margin-left: 20%;
    margin-right: 20%;
    
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    grid-template-areas: "navcontent information tableinfo";
}
#nav-content{
    grid-area: navcontent;
}

#nav-content div{
    border: 1px solid #D2D2CF;
    position: fixed;
    margin: 50px;
    padding-right: 70px;
    height: 50vh;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#information{
    /* background-color: aqua; */
    grid-area: information;
}
#table-information{
    background-color:#DFB01A;
    grid-area: tableinfo;
}

#box-content{

    margin: 10px;
    height: auto;
}

#box-content p{
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    display: flex;

}

#box-content ul li{
    list-style-type: decimal;
    font-size: 1.5em;
    
}

#box-content ul li a{
    text-decoration: none;
    color: #D2D2CF;
   
}

#box-content ul li a:hover{
    color: #DFB01A;
}

#title-box{
    display: flex;
    flex-direction: row;
 
}

#title-box h2{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 3em;
    color: #D2D2CF;
}

#notice{
    background-color: #C92519;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}

#information p {
    font-size: 20px;
    
}

hr{
    margin-right: 10px;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}

/* START OF FOOTER */

footer{
    display: flex;
        margin-top: 100px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
}
#footer-container {
    background-color: #585858;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
                        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

.large-text {
    font-size: 1.5em;
}

#game-history {
    grid-area: gamehistory;

}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}
#about-us .hover:hover{
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone number"
        "envelope email";
}

#circle {
    grid-area: circle;
    width: 100px;
}

#phone {
    grid-area: phone;
    width: 20px;
}

#envelope {
    grid-area: envelope;
    width: 20px;
}

#phone-num {
    color: #D2D2CF;
    margin-left: 10px;
    grid-area: number;
}

#email {
    margin-left: 10px;
    grid-area: email;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}