@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #181A18;
    display: flex;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.game1 {
    padding: 20px;
    color: #FBFAF5;
    display: grid;
    grid-template-areas: "picture text"
        "picture button";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.game-w-color {
    padding: 20px;
    color: #FBFAF5;
    display: grid;
    background-color: #D2D2CF;
    grid-template-areas: "picture text"
        "picture button";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.game-picture {
    width: 200px;
    height: 200px;
    grid-area: picture;
}

.game-desc-cancelled {
    grid-area: text;
    margin-left: 20px;
}

.game-desc {
    color: #181A18;
    grid-area: text;
    margin-left: 20px;
}

.cancelled {
    color: red;
}

.button {
    margin-left: 20px;
    grid-area: button;
    font-size: 1.3em;
}

.learn-more {
    background-color: #E0CD67;
    color: black;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 9px;
    font-size: 1em;
    margin-top: 10px;
}

.learn-more:hover {
    background-color: #DFB01A;
}

.game1 h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

.game-w-color h2{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

footer {
    display: flex;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

#footer-container {
    background-color: #585858;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;

}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone number"
        "envelope email";
}

#circle {
    grid-area: circle;
    width: 100px;
}

#phone {
    grid-area: phone;
    width: 20px;
}

#envelope {
    grid-area: envelope;
    width: 20px;
}

#phone-num {
    color: #D2D2CF;
    margin-left: 10px;
    grid-area: number;
}

#email {
    margin-left: 10px;
    grid-area: email;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}




/* NAVBAR */
header {
    /* position: fixed; */
    background-color: #DFB01A;
    height: 100px;
}