@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:ital,wght@0,300;0,900;1,900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
}

header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 150px;
    color: white;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
}

header ul {
    display: flex;
    position: relative;
    max-width: 1200px;
}

header ul li {
    list-style: none;
    position: relative;
    padding: 20px 0;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255,.2);
}

header ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header ul li:last-child {
    border-right: none; 
}

header ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

header ul li a.active, 
header ul li a:hover {
    
    color: yellow;
    border-radius: 10px;
}

header ul li ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: #000;
    display: block;
    width: 230px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}

body {
    background-image: url("../../resources/Elements/task/amongusbg.png");
}

.div1 {
    background-color: #000;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    left: 310px;
    width: 60%;
    border: 2px solid white;
    padding: 20px;
    text-align: justify;
    margin-top: 80px;
    margin-right: 170px;
    margin-bottom: 30px;
}

#gameplay {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p, i {
    font-family: 'Roboto', sans-serif;
    color: white;
}

table, td {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 1px solid whitesmoke;
    table-layout: fixed;
    width: 100%;  
}

th {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #427de2;
    color: white;
    text-align: center;
    padding: 5px;
}

td {
    font-family: 'Roboto';
    padding-left: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#trendingpages {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
    padding: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

figcaption, a {
    margin-top: 10px;
    color: white;
    font-family: 'Roboto';
    font-size: medium;
    text-decoration: none;
}

figcaption:hover {
    color: #427de2;
    text-decoration: underline;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #585858;
}

#footer-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;
}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone phone"
        "mail mail";
}

#phone-num {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#envelope-email {
    grid-area: mail;
    display: flex;
    flex-direction: row;
}

#circle {
    grid-area: circle;
    width: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#phone {
    width: 20px;
}

#envelope {
    width: 20px;
}

#num {
    margin-left: 20px;
    color: #D2D2CF;
}

#email {
    margin-left: 20px;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#email a:hover {
    color: #DAE7E9;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}