/*ANOTHER WAY TO IMPORT GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:ital,wght@0,300;0,900;1,900&display=swap');
/*THE * MEANS "ALL ELEMENTS" (A UNIVERSAL SELECTOR), SO WE ARE SETTING ALL ELEMENTS TO HAVE ZERO 
MARGINS, AND ZERO PADDING, THUS MAKING THEM LOOK THE SAME IN ALL BROWSERS.*/

/*STICKY SIDEBAR*/

html {
    scroll-padding-top: 4rem; /*SO THAT THE NAVBAR AT TOP WONT COVER THE TITLE OF THE CLICKED LINK IN THE SIDE BAR*/
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Amatic SC', sans-serif;*/
}

a {
    font-family: 'Amatic SC', sans-serif;
}

header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 150px;
    color: white;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
}

header ul {
    display: flex;
    position: relative;
    max-width: 1200px;
}

header ul li {
    list-style: none;
    position: relative;
    padding: 20px 0;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255,.2);
}

header ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header ul li:last-child {
    border-right: none; 
}

header ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

header ul li a.active, 
header ul li a:hover {
    color: #DFB01A;
    border-radius: 10px;
}

header ul li ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: #000;
    display: block;
    width: 230px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}

.nav {
    top: 0; /* Position the navbar at the top of the page */
}

body {
    background-image: url("../../resources/elements-task/amongusbg.png");
    background-size: cover;
}

#parent{
    background-color: rgba(0, 0, 0, .8);
    padding-bottom: 100px;
}

#main_div {
    margin-left: 18%;
    margin-right: 18%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navcontent main_container";
    margin-top: 80px;
}

#navcontent {
    grid-area: navcontent;
}

#navcontent div {
    border: 1px solid #D2D2CF;
    position: sticky;
    top: 80px;
    margin-top: 50px;
    margin-right: 50px;
    padding-right: 10px;
    height: auto;
    color: #fff;
}

#boxcontent {
    height: auto;
    border: 2px solid white;
}

#boxcontent ul{
    list-style: none;
    height: auto;
}

#boxcontent ul li {
    margin-left: 20px;
    font-family: 'Amatic SC';
    font-size: larger;
    margin-bottom: 10px;
}

#boxcontent ul li a {
    font-family: 'Amatic SC';
    text-decoration: none;
    color: #fff;
    padding: 5px 10px; 
}

#boxcontent ul a:hover {
    color: #DFB01A;
}

#main_container {
    grid-area: main_container;
    padding: 20px;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DFB01A;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 2;
}

h2 {
    font: 'Roboto';
    color: white;
    display: inline-block;
    text-align: left;
}

hr {
    border-top: 1px solid white;
    padding: 10px;
}

.flex-container {
    display: flex;
}

.flex-container > *:nth-child(1) {
    flex: 1 1 80%;
}

.flex-container > *:nth-child(2) {
    flex: 1 1 20%;
}

.body_lists {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 40px;
    line-height: 2.1;
}
ul ul li {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 40px;
    line-height: 2.1;
}

div.gallery {
margin: 5px;
border: 1px solid #ccc;
width: 180px;
float:left;
}

div.gallery:hover {
border: 1px solid #DFB01A;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 5px;
font-family: 'Roboto', sans-serif;
font-size: 12px;
text-align: center;
color: white;
}

/* FOOTER */

footer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-color: #585858;
}

#footer-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;
}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone phone"
        "mail mail";
}

#phone-num {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#envelope-email {
    grid-area: mail;
    display: flex;
    flex-direction: row;
}

#circle {
    grid-area: circle;
    width: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#phone {
    width: 20px;
}

#envelope {
    width: 20px;
}

#num {
    margin-left: 20px;
    color: #D2D2CF;
}

#email {
    margin-left: 20px;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#email a:hover {
    color: #DAE7E9;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}