@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:ital,wght@0,300;0,900;1,900&display=swap');

html {
    scroll-padding-top: 4rem;
    /*SO THAT THE NAVBAR AT TOP WONT COVER THE TITLE OF THE CLICKED LINK IN THE SIDE BAR*/
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Amatic SC', sans-serif;*/
}

a {
    font-family: 'Amatic SC', sans-serif;
}

header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 150px;
    color: white;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
}

header ul {
    display: flex;
    position: relative;
    max-width: 1200px;
}

header ul li {
    list-style: none;
    position: relative;
    padding: 20px 0;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

header ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header ul li:last-child {
    border-right: none;
}

header ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

header ul li a.active,
header ul li a:hover {
    color: #DFB01A;
    border-radius: 10px;
}

header ul li ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: #000;
    display: block;
    width: 230px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}

.nav {
    top: 0;
    /* Position the navbar at the top of the page */
}

/* body */

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../../resources/Elements/task/amongusbg.png");
    background-size: cover;
}

.parent {
    background-color: rgba(0, 0, 0, .8);
    padding-bottom: 100px;
    font-size: 20px;
}

.main-container {
    margin-left: 18%;
    margin-right: 18%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navbox main-content";
    margin-top: 80px;
}

.navbox {
    grid-area: navbox;
    border: 1px solid #D2D2CF;
    position: sticky;
    top: 80px;
    margin-right: 60px;
    padding: 10px;
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbox-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    ;
}

.navbox-content * {
    font-family: 'Amatic SC', cursive;
    color: #fff;
}

.main-content {
    grid-area: main-content;
    padding: 5px;
}

.news-section>div {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    background-color: #232222;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #DFB01A;
}

h2 {
    font-family: 'Amatic SC', cursive;
    color: white;
    display: inline-block;
    text-align: left;
    color: #DFB01A;
}

h3 {
    font-family: 'Amatic SC', cursive;
    color: white;
    display: inline-block;
    text-align: left;
    color: #DFB01A;
}

h3 a {
    font-family: 'Amatic SC', cursive;
    color: white;
    display: inline-block;
    text-align: left;
    color: #DFB01A;
}

h3 a:hover {
    color: white;
}

p {
    font-family: 'Roboto', cursive;
    color: white;
    line-height: 2;
}

hr {
    border-top: 1px solid white;
    padding: 10px;
}

.main-ul {
    list-style-type: none;
    line-height: 2;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.main-ul li {
    text-decoration: none;
}

.main-ul li a {
    color: white;
    text-decoration: none;
}

.main-ul li a:hover {
    color: #DFB01A;
}

.main-ul ul li {
    list-style-type: none;
    margin-left: 30px;
    line-height: 2;
}

.main-ul ul ul li {
    list-style-type: none;
    margin-left: 60px;
}

.main-ul ul li a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.main-ul ul li a:hover {
    color: #DFB01A;
}

.main-ul ul ul ul li {
    margin-left: 90px;
}

#trivia {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    list-style-type: disc;
}

#trivia li a {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#trivia li a:hover {
    color: #DFB01A;
}

#trivia ul li {
    list-style-type: circle;
}

table,
th,
td {
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

table {
    width: 100%;
}

table>* td:nth-child(even) {
    width: 50%;
}

#table_images {
    width: auto;
    height: auto;
    max-height: 142px;
    max-width: 122px;
}

.flex-container {
    display: flex;
}

.flex-container>*:nth-child(1) {
    flex: 1 1 15%;
}

.flex-container>*:nth-child(2) {
    flex: 1 1 75%;
}

.flex-container>* p {
    line-height: 1.5;
}

/* Images */

figure.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: auto;
}

figure.gallery:hover {
    border: 1px solid #DFB01A;
}

figure.gallery img {
    border-radius: 12px;
    width: auto;
    max-width: 190px;
    height: 100%;
}

figure.desc {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
}

/* body end */

/* Footer */

footer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-color: #585858;
}

#footer-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;
}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone phone"
        "mail mail";
}

#phone-num {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#envelope-email {
    grid-area: mail;
    display: flex;
    flex-direction: row;
}

#circle {
    grid-area: circle;
    width: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#phone {
    width: 20px;
}

#envelope {
    width: 20px;
}

#num {
    margin-left: 20px;
    color: #D2D2CF;
}

#email {
    margin-left: 20px;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#email a:hover {
    color: #DAE7E9;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}