/*ANOTHER WAY TO IMPORT GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@700&display=swap');
/*THE * MEANS "ALL ELEMENTS" (A UNIVERSAL SELECTOR), SO WE ARE SETTING ALL ELEMENTS TO HAVE ZERO 
MARGINS, AND ZERO PADDING, THUS MAKING THEM LOOK THE SAME IN ALL BROWSERS.*/

* {
     border: 0;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Amatic SC', sans-serif;
     
 }
 
 section {
     position: relative;
     width: 100%;
     padding: 130px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     overflow-x: hidden;
 }
 
body {
    background-image: url("/resources/game-history/among_us_bg_2.jpg");
    background-size: contain;
}
 
 header {
     background: black;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 0 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 1000;
 }
 
 header .logo {
     position: absolute;
     top: 20px;
     left: 150px;
     color: white;
     display: inline-block;
     font-size: 2em;
     text-decoration: none;
     font-weight: 800;
 }

 .bg {
     top: 0;
     left: 0;
     background-color: #181A18;
     background-repeat: no-repeat;
     height: 100%;
     width: 80%;
     z-index: -1;
 }
 header ul {
     display: flex;
     position: relative;
     max-width: 1200px;
 }
 
 header ul li {
     list-style: none;
     position: relative;
     padding: 20px 0;
     transition: 0.5s;
     box-sizing: border-box;
     border-right: 1px solid rgba(255,255,255,.2);
 }
 
 header ul li:hover {
     background-color: rgba(255, 255, 255, 0.2);
 }
 
 header ul li:last-child {
     border-right: none; 
 }
 
 header ul li a {
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     padding: 0 20px;
     color: #fff;
 }
 
 header ul li a.active, 
 header ul li a:hover {
     
     color: #DFB01A;
     border-radius: 10px;
 }
 
 header ul li ul {
     position: absolute;
     top: 65px;
     left: 0;
     background: #000;
     display: block;
     width: 230px;
     transition: 0.5s;
     opacity: 0;
     visibility: hidden;
 }
 
 header ul li:hover ul {
     opacity: 1;
     visibility: visible;
 }
 
 header ul li ul li {
     border-right: none;
     border-bottom: 1px solid rgba(255,255,255,.2);
 }
/*AUDIO PART*/
.music {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 80px;
}

#icon {
    width: 50px;
    cursor: pointer;
}
 /*CONTENT*/
 
 #meet-the-team-header img {
     position: absolute;
     width: 100%;

 }
 #meet-the-team-header div {
    color: white;
    font-size: clamp(1vw, 3vw, 5vw); 
    width: 50%;
    text-align: center;
    margin-top: 3% auto;
    margin-left: -4% auto;
}

.member-container {
    margin: 0 auto;
    width: 100% auto;
    height: auto;
    max-width: 1060px;
    margin-top: 25%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    
}

.member {
    max-width: 100%;
    padding: 1em;
    height: 200px;
    margin-top: 2em;
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(128, 128, 128, .3);
}

.image img {
    width: 100%;
    height: 100%;
}

.image {
    object-fit: contain;
    text-align: center;
    margin: 0 a;
    width: 18%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.info {
    width: 75%;
    height: 100%;
    color: white;
}
.info p {
    font-family: sans-serif;
}




/* FOOTER */
footer {
    display: flex;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-color: #585858;
}

#footer-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: auto auto auto auto 20%;
    grid-template-rows: auto auto;
    grid-template-areas: "gamehistory elements features aboutus contact"
        "copyright copyright copyright copyright copyright";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
}

#game-history {
    grid-area: gamehistory;

}

#game-history a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#game-history .hover:hover {
    color: #DFB01A;
}

#elements {
    grid-area: elements;
}

#elements a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#elements .hover:hover {
    color: #DFB01A;
}

#features {
    grid-area: features;
}

#features a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#features .hover:hover {
    color: #DFB01A;
}

#about-us {
    grid-area: aboutus;

}

#about-us a {
    text-decoration: none;
    display: inline-block;
    color: #D2D2CF;
}

#about-us .hover:hover {
    color: #DFB01A;
}

footer div a {
    margin-bottom: 10px;
}

footer div a {
    margin-bottom: 10px;
}

#contact {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "circle circle"
        "phone phone"
        "mail mail";
}

#phone-num {
    grid-area: phone;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#envelope-email {
    grid-area: mail;
    display: flex;
    flex-direction: row;
}

#circle {
    grid-area: circle;
    width: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
   
}

#phone {
    width: 20px;
}

#envelope {
    width: 20px;
}

#num {
    margin-left: 20px;
    color: #D2D2CF;
}

#email {
    margin-left: 20px;
}

#email a {
    text-decoration: none;
    color: #D2D2CF;
}

#email a:hover {
    color: #DAE7E9;
}

#copyright {
    color: #D2D2CF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: #585858;
    grid-area: copyright;
}